* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	min-height: 100%;
	background-color: #EEEEEE;
	border-bottom: 1px solid #BBBBBB;
}

#main {
	margin-right: 1.5%;
	margin-left: 1.5%;
	border-right: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: white;
}

footer {
	padding: 2%;
	text-align: center;
	border-top: 1px solid #BBBBBB;
}

#title {
	font-size: 2.5em;
	float: left;
}

header {
	padding: 1%;
	display: block;
	border-bottom: 1px solid #BBBBBB;
	font-family: sans-serif;
	overflow: hidden;
}

header img{
	float: right;
	right: 0;
	opacity: 0.4;
	padding: 1%;
	height: 2.5em;
}

#navbar {
	display: block;
	background-color: rgb(10,10,30);
	overflow: hidden;
	color: rgb(250, 250, 250);
}

#navbar * {
	height: 100%;
}

#navbar table {
	width: 100%;
}

#logo img {
	height: 40px;
}

#navbar ul {
	width: 100%;
	list-style-type: none;
	display: block;
}

#navbar li {
	float: left;
	display: block;
	padding: 1%;
	height: 100%;
	background-color: inherit;
	color: inherit;
}

#navbar li:hover {
	background-color: #EEEEEE;
	color: #111111;
}

#navbar a {
	background-color: inherit;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

#logo {
	/*display: inline-block;*/
	padding-left: 0;
	/*padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	height: 40px;*/
	size: 0.5em;
	/*position: relative;*/
	float: right;
}

#content {
	display: block;
	padding: 2%;
	text-align: justify;
}

.text {
	margin-left: 10%;
	margin-right: 10%;
}
